/* 服务保障 */
.service-bar {
  margin: 20px 0;
  background: #fff;
  padding: 20px 0;
  border-radius: 4px;
}
.service-list {
  display: flex;
  justify-content: space-around;
}
.service-item {
  text-align: center;
}
.service-icon {
  font-size: 30px;
  color: #e33333;
  margin-bottom: 10px;
}
.service-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.service-desc {
  color: #666;
  font-size: 14px;
}